button.btn {
  display: block;
  width: 20px;
  margin: auto;
}

.button {
    position: absolute;
}

.image {
  width: 270px;
  height: 314px;
  display: inline-block;
  margin: auto;
  position:absolute;

  background-repeat: no-repeat;
  background-position: center center;
}


.charmander {
  background-image: url('./img/charmander.jpg')
}

.charmeleon {
  background-image: url('./img/charmeleon.jpg')
}

.charizard {
  background-image: url('./img/charizard.png')
}

.bulbasaur {
  background-image: url('./img/bulbasaur.png')
}

.ivysaur {
  background-image: url('./img/ivysaur.png')
}

.venusaur {
  background-image: url('./img/venusaur.png')
}
