button.btn-restart {
  margin: auto;
  display: block;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  background-color: pink;
  transition: all 1s;
}

h1 {
  text-align: center;
}

.sitetitle {
  color: #6C7A89;
}

.timer {
  text-align: center;
  color: #6C7A89;
}

.siteparagraph {
  text-align: center;
  color: #6C7A89;
}

button.btn-restart:hover {
  background-color: lightblue;
  padding: 12px 23px;
}

#image {
  width: 100%;
  height: 314px;
  display: inline-block;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

#counter {
  text-align: center;
}

.counter {
  color: #6C7A89;
}

.charmander {
  background-image: url('./img/charmander.jpg')
}

.charmeleon {
  background-image: url('./img/charmeleon.jpg')
}

.charizard {
  background-image: url('./img/charizard.png')
}

.bulbasaur {
  background-image: url('./img/bulbasaur.png')
}

.ivysaur {
  background-image: url('./img/ivysaur.png')
}

.venusaur {
  background-image: url('./img/venusaur.png')
}

.squirtle {
  background-image: url('./img/squirtle.jpg')
}

.wartortle {
  background-image: url('./img/wartortle.jpg')
}

.blastoise {
  background-image: url('./img/blastoise.jpg')
}

.caterpie {
  background-image: url('/img/caterpie.jpg')
}

.metapod {
  background-image: url('./img/metapod.jpg')
}

.butterfree {
  background-image: url('./img/butterfree.jpg')
}

.weedle {
  background-image: url('./img/weedle.jpg')
}

.kakuna {
  background-image: url('./img/kakuna.jpg')
}

.beedrill {
  background-image: url('./img/beedrill.jpg')
}
